/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

/* Color Palette

Background: #DAD7CD

Text: #335242
Text (Body): #000000

Footer: #588157
Aside: #A3B18A

*/

body {
    background-color: #DAD7CD;
}


.container, .home-container {
    max-width: 50em;
    margin: auto;
    padding-top: 2em;
}

img {
    width: 100%;
    display: block;
    border-radius: 10px;
    margin-bottom: .5em;
}

main img:hover {
    box-shadow: 0px 5px 15px -1px #A3B18A;
    transition: .5s ease-out;   
}

a,
li {
    list-style: none;
    text-decoration: none;
    color: #000000;
}

li a:hover {
    border-bottom: 3px solid #A3B18A;
    transition: .3s ease-out;
    font-weight: bold;   
}

/* Font Family */

h1, h2 {
    font-family: gelica, sans-serif;
    font-weight: bold;
    font-style: normal;
}

p, a {
    font-family: area-normal-light, sans-serif;
    font-weight: normal;
    font-style: normal;
}

figcaption {
    font-family: area-normal-light, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: .9em;
    margin: .5em;
    padding: .5em 0 1.5em 0;
    color: #588157;
}

/* Nav */

header {
    margin: .5em;
}

h1 {
    width: 20em;
    padding-bottom: 1em;
}

li a {
    font-size: 1.5em;
    color: #335242;
}

/* Main Stories */

.story h2,
.mainstory h2 {
    font-size: 1.7em;
    margin: .25em .25em 0 .25em;
    color: #335242;
}

.story p,
.mainstory p {
    font-size: 1em;
    margin: .5em;
    padding: 0 0 1.5em 0;
}

/* Tertiary Stories */

.tertiary {
    border-top: 2px solid #588157;
    margin: .5em;
    padding: .5em 0 .5em 0;
}

.tertiary h2 {
    color: #335242;
    font-size: 1.3em;
}

.tertiary p {
    font-size: .8em;
}

/* Article */

article h2 {
    font-size: 2em;
    margin: .25em .25em 0 .25em;
    color: #344E41;
}

article p {
    font-size: 1em;
    margin: .5em;
    padding: 0 0 1.5em 0;
}

/* Aside */

aside {
    background-color: #A3B18A;
    padding: 1em;
    border-radius: 10px 10px 0 0;
}

/* Footer */

footer {
    background-color: #588157;
    color: #DAD7CD;
    padding: 1.5em .5em 1.5em .5em;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
}

/* Widescreen */

@media only screen and (min-width: 60em) {

    /* Responsive Website */

    div.home-container {
        max-width: 80em;
        padding: 2em 1em 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 2em 1em 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }


    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside {
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }



    section.story {
        display: flex;
    }

    section.story a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.story a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.story a figure img {
        object-fit: cover;
    }

    section.story a h2 {
        flex: 0 0 1em;
    }

    section.story a p {
        flex: 0 0 4em;
    }

    /* Nav */

    header {
        margin: 0 0 .5em 0;
        grid-column: 1/3;

    }

    footer {
        grid-column: 1/3;
    }

    li {
        display: inline;
        padding: 0 .5em 0 0;
    }

    /* Main Stories */

    .story h2,
    .mainstory h2 {
        margin: 0;
    }

    .story p,
    .mainstory p {
        margin: 0 0 1.5em 0;
    }

    /* Tertiary Stories */

    .tertiary {
        margin: 0;
        padding: .5em 0 1.3em 0;
    }

    /* Article */

    article h2 {
        margin: 0;
    }

    article p {
        margin: 0;
    }

    figcaption {
        margin: 0;
    }

    /* Aside Border Radius (On mobile it will connect smoothly with the footer, but change for the web page) */

    aside {
        border-radius: 10px;
    }

}